<!DOCTYPE html>
<html>

<head>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<title>Pedido confirmado</title>
</head>

<body>

<a href="/">Inicio</a>
<a href="/menu">Menú</a>
<a href="/consultar">Consultar pedido</a>
    
<h1>Pedido registrado</h1>

<h2>Tu número de pedido es:</h2>

<h1 style="font-size:70px;color:red;">
#{{numero_pedido}}
</h1>

<p>Tiempo estimado: {{tiempo_estimado}} minutos</p>

<p>Hora del pedido: {{hora}}</p>

<p>Nombre: {{nombre}}</p>

<p>Platillo: {{platillo}}</p>

<p>Cantidad: {{cantidad}}</p>

<p>Muestra este número al llegar al local.</p>

<a href="/">Volver al inicio</a>

<br><br>

<a href="/menu">
<button>Hacer otro pedido</button>
</a>

</body>

</html>